#set($searchColCount = 1)
##包定义
package $!{targetPackage};

import com.zjhcsoft.bi.fast.orm.domain.BaseEntity;
import com.zjhcsoft.travel.common.service.CoerServiceImpl;
import org.springframework.stereotype.Service;
import $!{generatorContext.daoPackage}.$!{className}DaoImpl;
##导入dao、实体
import $!{generatorContext.domain};

/**
 * @description:$!{table.name}ServiceIml
 * @author $!{javaDoc.author}
 * @date: $!{javaDoc.createDate}
 * @history:
 */
@Service
public class $!{className}ServiceImpl extends CoerServiceImpl<$!{className},$!{className}DaoImpl>{


     /**
     * 保存
     * @param bean
     */
     public void save($!{className} bean){
         if(bean.getId()==null||bean.getId()<0){
              //添加时初始化属性
         }else{
              $!{className} object =  dao.get(bean.getId());
              #foreach ($column in $table.columns)
              object.$!{column.setName}(bean.$!{column.getName}());
              #end
              bean = object;
         }

         dao.saveOrUpdateEntity(bean);
     }
}