#set($v1 = "$!{")
#set($v2 = "}")
#include('version.vm')

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>$!{table.name}详细界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    #parse("commons/commonCss.vm")
</head>
<body>

<h4 class="container-fluid">
    <h4 class="title-style-icon">基础信息</h4>
    <form class="form-horizontal" id="beanForm">
        <input type="text" id="uniqueId" name="uniqueId" hidden="hidden">
        <input type="text" id="gridId" name="gridId" hidden="hidden">

        #foreach ($column in $table.columns)
            <div class="form-group">
                <label class="col-md-2 control-label">营业状态：</label>
                <div class="col-md-3">
                    #foreach ($column in $table.columns)
                        <div class="item">
                            <div class="list">
                                <span class="label">$!{column.columnCommnet}：</span>
                                <i class="status" id="$!{column.fieldName}"></i>
                            </div>
                        </div>
                    #end
                </div>
            </div>
        #end
    </form>
    </div>
</h4>
    #parse("commons/commonJs.vm")
<script type="text/javascript" src="$!{base}/new/js/baseInfoCommon.js?_=${version}"></script>
<script type="text/javascript">
    //唯一标识
    var uniqueId = "$!{uniqueId}";

    $(function () {
        if (null != uniqueId && uniqueId.length > 0) {
            $.ajax({
                type: "post",
                url:'${base}/$!{generatorContext.module}/$!{table.urlName}/getInfo?id='+uniqueId,
                success: function (result) {
                    if (result.status == 0) {
                        var data = result.retinfo;
                        #foreach ($column in $table.columns)
                            $("#$!{column.fieldName}").html(model.$!{column.fieldName});
                        #end
                        setIframeHeight();
                    } else {
                        window.parent.parent.errorWindow("", result.message);
                    }
                }, error: function (result) {
                    window.parent.parent.errorWindow("", result.message);
                }
            })
        }
        setIframeHeight();
    });
</script>
</body>
</html>